# Database Configuration
POSTGRES_USER=mt_db
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=ez-money-tracker
POSTGRES_PORT=5432
POSTGRES_HOST=ez-money-tracker-db

# Full Database URL for Backend & Prisma
DATABASE_URL="postgresql://mt_db:your_secure_password@ez-money-tracker-db:5432/ez-money-tracker?schema=public"

# Backend Configuration
PORT=3000
